<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品の一覧</title>
    <link th:replace="_fragments/head :: css">
</head>
<body>
<p>
    <a th:href="@{/}">トップに戻る</a>
</p>
<h1>栽培キットの一覧（新しい順）</h1>
<!--/*
Spring MVC Modelの表示
th:text属性に変数式 ${...}で、Modelに追加したattribute名を参照する
*/-->
<!--/*@thymesVar id="startKitList" type="example.domain.model.product.StarterKitList"*/-->
<p th:text="${startKitList}"></p>
<p th:text="${startKitList.count()}"></p>
<ul>
    <li th:each="each : ${startKitList.asList()}">
        <span th:text="${each}"></span>
    </li>
</ul>

<h2>栽培キット一覧</h2>

<table>
    <thead>
    <tr>
        <th>種まき日</th>
        <th>カバー</th>
        <th>種類</th>
        <th>Features</th>
        <th>Rows</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${startKitList.asList()}">
        <td th:text="${each.dateOfSeed()}"></td>
        <td th:text="${each.cover()}"></td>
        <td th:text="${each.type()}"></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>