<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        [
        <!ENTITY 名前空間 "example.infrastructure.datasource.product.feature.FeatureMapper">
        <!ENTITY 特徴 "example.domain.model.product.feature.Feature">
        ]>
<mapper namespace="&名前空間;">
    <select id="featuresFor" resultType="&特徴;">
        SELECT
            特徴
        FROM 商品.キットの特徴
        WHERE
            キット番号 = #{value}
        ORDER BY
          順序番号 ASC
    </select>
</mapper>