<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        [
                <!ENTITY 名前空間 "example.infrastructure.datasource.kit.variety.VarietyMapper">
                <!ENTITY 品種 "example.domain.model.kit.row.Variety">
                ]>
<mapper namespace="&名前空間;">
    <select id="listAll" resultType="&品種;">
        SELECT
            品種番号 as "varietyNumber.value",
            名前 as "varietyName.value"
        FROM 商品.品種
        ORDER BY
            名前 ASC
    </select>

    <insert id="register">
        INSERT INTO 商品.品種
        (品種番号, 名前)
        VALUES
        (#{varietyNumber.value}, #{varietyName.value})

    </insert>
</mapper>