<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>トップ</title>
  <link th:replace="_fragments/head :: css-light">
</head>
<body>
<header>
  <nav>
    <a target="top" th:href="@{/}">トップに戻る</a>
    | <a target="_self" th:href="@{/references/application}">アプリケーションの紹介</a>
    | <a target="object-mapping" th:href="@{/references/object-mapping}">オブジェクトマッピングの概要</a>
    | <a target="jig-report" th:href="@{/references/jig-report}">JIGドキュメント</a>
  </nav>
</header>
<h1>ハーブ栽培キット管理アプリケーション</h1>
<h2>アプリケーションの紹介</h2>
<p>
  このアプリケーションの概要説明です。<br />
  アプリケーションの目的、ドメインモデルのクラス構成、画面のイメージ、データモデルの概要を紹介します。<br />
  <strong>
    ⇒ <a target="application" th:href="@{/references/application}">アプリケーションの紹介</a>
  </strong>
  </p>
<h2>オブジェクトマッピングの概要</h2>
<p>
  このアプリケーションはドメイン層のオブジェクトと画面・テーブル・JSONとのマッピングのやり方の学習用に作成しました。<br />
<strong>
  ⇒ <a target="object-mapping" th:href="@{/references/object-mapping}">オブジェクトマッピングの概要</a>
</strong>
</p>
<p>
  それぞれのマッピングの説明は以下を参考にしてください。<br />
　<a target="object-html" th:href="@{/references/object-html}">オブジェクト ⇔ HTMLのマッピング</a>
 | <a target="object-sql" th:href="@{/references/object-sql}">オブジェクト ⇔ SQLのマッピング</a>
 | <a target="object-json" th:href="@{/references/object-json}">オブジェクト ⇔ JSONのマッピング</a>
</p>

<h2>JIGドキュメント</h2>
<p>
  ソースコードから各種のドキュメントを自動生成するツール JIG の説明です。<br />
  このアプリケーションの設計内容を理解するために役に立ちます。<br />
  <strong>
   ⇒ <a target="jig-report" th:href="@{/references/jig-report}">JIGドキュメント</a>
  </strong>
</p>
</body>
</html>