<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        [
        <!ENTITY 名前空間 "example.infrastructure.datasource.kit.row.RowMapper">
        <!ENTITY 列 "example.domain.model.kit.row.Row">
        ]>
<mapper namespace="&名前空間;">

    <select id="rowsFor" resultType="&列;">
        SELECT
            品種.品種番号 as "variety.varietyNumber.value",
            品種.名前 as "variety.name",
            種の数 as "seedsPerCell"
        FROM 商品.列
        INNER JOIN 商品.品種 ON 列.品種番号 = 品種.品種番号
        WHERE
            キット番号 = #{value}
        ORDER BY
          列番号 ASC
    </select>

    <insert id="recordRows">
        INSERT INTO 商品.列
        (キット番号, 列番号, 品種番号,種の数)
        VALUES
        <foreach item="each" collection="rows.list" index="index" separator=",">
            (
            #{kitNumber.value}, #{index} + 1,#{each.variety.varietyNumber.value}, #{each.seedsPerCell}
            )
        </foreach>
    </insert>
</mapper>