<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品の一覧</title>
    <link th:replace="_fragments/head :: css-dark">
</head>
<body>
<p>
    <a target="top" th:href="@{/}">トップに戻る</a>
</p>

<!--/*
Spring MVC Modelの表示
th:text属性に変数式 ${...}で、Modelに追加したattribute名を参照する
*/-->

<!--/* 型注釈 : 参照しているモデルの型をIntelliJ IDEAに認識させる */-->
<!--/*@thymesVar id="starterKitList" type="example.domain.model.kit.StarterKitList"*/-->
<div th:if="false">
<h2>デバッグ情報</h2>
<p th:text="${starterKitList}"></p>
<p th:text="${starterKitList.count()}"></p>
</div>

<h2>栽培キット一覧</h2>

<table>
    <thead>
    <tr>
        <th>種まき日</th>
        <th>カバー</th>
        <th>素材</th>
        <th>特徴</th>
        <th>列の構成</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${starterKitList.asList()}">
        <td th:text="${each.dateOfSeed()}"></td>
        <td th:text="${each.covered()}"></td>
        <td th:text="${each.type()}"></td>
        <td th:text="${each.features()}"></td>
        <td>
            <table>
                <tbody>
                <tr th:each="row,rowStat : ${each.rows()}">
                    <td th:text="${rowStat.count}">1</td>
                    <td th:text="${row.variety()}">タイム</td>
                    <td th:text="${row.seedsPerCell()}">12</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <h2>栽培キットの追加</h2>
    <form action="#" th:action="@{/kits}" th:object="${starterKit}" method="post">
        <block th:if="${#fields.hasAnyErrors()}">
            <mark><span th:text="${#fields.allErrors()}"></span></mark>
        </block>

        <fieldset>
            <input type="hidden" th:field="*{kitNumber.value}">
            <p>
            <label th:for="dateOfSeed.value">種を植えた日</label>
            <input type="date" th:field="*{dateOfSeed.value}">
            <mark><span th:errors="*{dateOfSeed.value}"></span></mark>
            </p>

            <!-- booleanではなく2値の列挙型で対応の試み -->
            <!-- th:field 以外に value の明示的な設定が必要 -->
            <!-- 未選択の送信に hidden で同じnameで valueの既定値を設定 -->
            <!-- アンダースコア（_fieldName)に対応した処理は、
                Spring MVC WebDataBinder#getEmptyValue() booleanかコレクションのみ -->
            <!-- todo th:checkedがうまく動作しない -->
            <p>
            <!--/* チェックボックスで列挙型 (有,無 )の値を設定する */-->
            <!--/* th:checkedを動作させるために、th:fieldを使わず、id要素とname要素を直接指定している */-->
            <!--/* todo th:fieldを使うと、th:checkedが正しく動作しない */-->
            <label for="covered">カバー</label>
            <input type="checkbox" id="covered" name="covered" value="checked" th:checked="${starterKit.hasCover()}"/> <!--/* チェックされた時だけ送られる */-->
            <input type="hidden" name="covered" value="unchecked"  /> <!--/* チェックされないときの既定値を常に送る */-->
            <mark><span th:errors="*{covered}"></span></mark>
            </p>

            <p>
            <label>素材</label>
            <div th:with="element='radio'">
            <ul th:if="${element == 'radio'}" style="list-style-type: none">
                <li th:each="each : ${allTypes}">
                    <input type="radio" th:field="*{type}" th:value="${each}" />
                    <label th:for="${#ids.prev('type')}" th:text="${each}">Wireframe</label>
                </li>
                <mark><span th:errors="*{type}"></span></mark>
            </ul>
            <select th:if="${element == 'select'}"
                    th:field="*{type}">
                <option th:each="each : ${allTypes}"
                        th:value="${each}"
                        th:text="${each}">Wireframe</option>
            </select>
            </div>
                </p>


            <p>
            <label>特徴</label>
            <ul style="list-style-type: none">
            <li th:each="each : ${allFeatures}">
            <input type="checkbox" th:field="*{features.list}" th:value="${each}" />
            <label th:for="${#ids.prev('features.list')}"
            th:text="${each}"></label>
            </li>
            </ul>
            </p>

            <table>
                <thead>
                <tr>
                    <th>列</th>
                    <th>品種</th>
                    <th>セルあたりの種の数</th>
                    <th>
                        <button type="submit" name="addRow">列の追加</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="eachRow,iterationStatus : ${starterKit.rows()}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td>
                        <select th:field="*{rows.list[__${iterationStatus.index}__].variety.varietyNumber.value}">
                            <option th:each="eachVariety : ${allVarieties}"
                                    th:value="${eachVariety.number()}"
                                    th:text="${eachVariety.show()}">Thymus Thymi</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" th:field="*{rows.list[__${iterationStatus.index}__].seedsPerCell}"/>
                    </td>
                    <td>
                        <button type="submit" name="removeRow"
                                th:value="${iterationStatus.index}">列の削除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button type="submit" name="save">登録する</button>
        </fieldset>
    </form>
</div>
</body>
</html>
