<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入力フォームの例</title>
    <!--/* ファイル /templates/_fragments/head.html で定義した部品と置き換える */-->
    <link th:replace="_fragments/head :: css">
</head>
<body>
<p>
    <a href="/">トップに戻る</a>
</p>
<!--/*
form要素のaction属性

静的に宣言できる場合はそのまま記述する
動的に組み立てたい場合はth:action属性でリンクURL式 @{...}を使う。URL式の中に任意の変数式 ${...}が使える

＜参考＞
(HTML5から)from要素のaction属性は省略可能。現在のURLがデフォルトのaction属性になる
省略は意図がわかりにくくなるので、明示する。

input要素のid属性・name属性・value属性

th:field属性を指定することで、id属性・name属性・value属性を生成できる。
th:field属性は選択変数式 *{...}または変数式 ${...}で指定する

選択変数式 *{...}では、form要素のth:object属性に指定したオブジェクトへの相対参照を指定する
<form th:object="${someObject}">
  <input th:field="*{someField}">

th:field属性に変数式 ${...}を使う場合は、バインドのキー名を完全に記述する
<form>
  <input th:field="${someObject.someField}">

バインド時のエラー（バリデーションエラー）の表示
span要素等にth:errors属性を指定する
フィールド名を指定することで、エラーとなったフィールドのエラーメッセージを取得できる

*/-->

<!--/*@thymesVar id="action" type="example.domain.model._sample.Action"*/-->
<form action="/sample" th:object="${action}" method="post">
    <fieldset>
        <legend>アクションの登録</legend>
        <label th:for="name">アクション内容</label>
        <input th:field="*{name}" type="text">
        <mark><span th:errors="*{name}"></span></mark>　
        <input type="submit">
    </fieldset>
</form>
<ul>
    <!--/*@thymesVar id="actions" type="example.domain.model._sample.Actions"*/-->
    <li th:each="each : ${actions.list()}">
        <!--/*@thymesVar id="each" type="example.domain.model._sample.Action"*/-->
        <a th:text="${each.show()}"></a>
    </li>
</ul>
</body>
</html>