<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.product.ProductMapper">
<!--    ↑ namespace属性は、対尾する Mapperインタフェース名を指定する-->

    <select id="listAll" resultType="example.domain.model.product.Product">
        SELECT
            商品番号 as "productNumber.value",
            名称 as "name"
        FROM 商品.商品
        ORDER BY created_at DESC
    </select>

    <select id="findBy" resultType="example.domain.model.product.Product">
        SELECT
            商品番号 as "productNumber.value",
            名称 as "name"
        FROM 商品.商品
        WHERE
            商品番号 = #{value}
    </select>
</mapper>