<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.product.StarterKitMapper">
<!--    ↑ namespace属性は、対尾する Mapperインタフェース名を指定する-->

    <select id="listAll" resultType="example.domain.model.product.StarterKit">
        SELECT
            キット番号 as "kitNumber.value",
            種まき日 as "dateOfSeed.value",
            カバー as "cover",
               種類 as "type"
        FROM 商品.栽培キット
        ORDER BY 種まき日 ASC
    </select>

    <select id="findBy" resultType="example.domain.model.product.StarterKit">
        SELECT
            キット番号 as "kitNumber.value",
            種まき日 as "dateOfSeed.value"
        FROM 商品.栽培キット
        WHERE
            キット番号 = #{value}
    </select>
</mapper>