<?xml version="1.0" encoding="UTF-8" ?>
<!--
DOCTYPE 宣言 : mapper DTDの宣言まで　[お約束]

ENTITY 要素 :
XML 実体参照の記述
FQCN(完全修飾クラス名)に別名をつけて参照できる
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
[
<!ENTITY 名前空間 "example.infrastructure.datasource.product.kit.StarterKitMapper">
<!ENTITY 栽培キット "example.domain.model.product.StarterKit">
<!ENTITY 特徴 "example.domain.model.product.feature.Feature">
<!ENTITY 列 "example.domain.model.product.row.Row">

<!ENTITY 特徴マッパー "example.infrastructure.datasource.product.feature.FeatureMapper">
<!ENTITY 列マッパー "example.infrastructure.datasource.product.row.RowMapper">
]>
<!--    ↑ namespace属性は、対応する Mapperインタフェース名を指定する -->

<mapper namespace="&名前空間;">

    <!--
resultMap要素 : オブジェクト（のフィールド）とSELECT結果（のカラム）のマッピングの定義

id属性 : マッピングを参照するための識別名
type属性 : マッピング対象の型(クラス）

collection要素 : コレクションオブジェクトのマッピングの定義

property属性 : コレクションをマッピングする先
ofType属性 : コレクションの要素の型
column属性 : コレクションを取得するSELECT文の渡すパラメータ
select属性 : コレクションを取得するためのselect要素の識別名

-->
    <resultMap id="栽培キットマッピング" type="&栽培キット;">
        <collection property="features.list" ofType="&特徴;"
                    column="kitNumber.value"
                    select="&特徴マッパー;.featuresFor"/>
            <!-- フィールド List<Feature> features に、kitNumber.valueを検索キーにした SQL featuresFor の実行結果を設定する        -->
        <collection property="rows.list" ofType="&列;"
                    column="kitNumber.value"
                    select="&列マッパー;.rowsFor"/>
    </resultMap>

<!--
select 要素  : SELECT文の記述

    id 属性 : Mapperインタフェースで宣言したメソッド名
    resultMap属性 : resultMap要素のid属性
-->
<!--
SELECT 文

as句でフィールドへのパスを指定すると、resultMapのproperty要素の記述を省略できる
#{...}式で、パラメータで渡されたオブジェクトを参照できる ( OGNL )
-->
    <select id="listAll" resultMap="栽培キットマッピング">
        SELECT
            キット番号 as "kitNumber.value",
            種まき日 as "dateOfSeed.value",
            カバー as "covered",
            素材 as "type"
        FROM 商品.栽培キット
        ORDER BY 種まき日 ASC
    </select>

    <select id="findBy">
        SELECT
            キット番号 as "kitNumber.value",
            種まき日 as "dateOfSeed.value"
        FROM 商品.栽培キット
        WHERE
            キット番号 = #{value}
    </select>

    <insert id="register">
        INSERT INTO 商品.栽培キット
        (キット番号, 種まき日, カバー, 素材)
        VALUES
        (#{kitNumber.value}, #{dateOfSeed.value}, #{covered}, #{type})
    </insert>
</mapper>